/* .button-container{
    border: solid white;
    display: flex;
    align-items: center;
} */

.map-button button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-property: all;
    transition: .2s ease-in;
    /* padding: 15px 32px; */
    font-size: 70px;
    background: linear-gradient(rgb(133, 221, 221), rgb(212, 241, 241));
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 15%;
}

.quiz-button button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-property: all;
    transition: .2s ease-in;
    /* padding: 15px 32px; */
    font-size: 70px;
    background: linear-gradient(rgb(133, 221, 221), rgb(212, 241, 241));
    /* text-decoration: none; */
    /* display: inline-block; */
    border-radius: 15%;
}

/* .map-button:hover {
    cursor: pointer;
    transform: rotate(5deg);
    transform: scale(2);

}

.quiz-button:hover {
    cursor: pointer;
    transform: rotate(5deg);
    transform: scale(2);

} */