.answers{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;


}

.answer-button {
    width: 100%;
    margin-bottom: 10%;
    padding: 3%;
    text-align: center;

}

.answer-button:hover{

    background-color: rgb(228, 176, 228)

}

/* this definitely works */
.answer-button-true:focus {

    background-color: green;

}

.answer-button-false:focus{
    background-color: red;
}



/* this is where you left off */
/* .clicked {
    background-color: rgb(108, 37, 183);
} */

